Repository lasuillard/raindrop-sync-chrome: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, vitest

.pre-commit-config.yaml:

exclude: |
  (?x)(
    \.snap$
  )
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: generate
        name: Generate stubs and codes
        language: system
        types_or: [javascript, jsx, ts, tsx, json, directory]
        pass_filenames: false
        entry: make generate

      - id: prettier
        name: Format with Prettier
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        entry: pnpm exec prettier
        args: [--write]

      - id: eslint
        name: Lint with ESLint
        language: system
        types_or: [javascript, jsx, ts, tsx]
        entry: pnpm exec eslint
        args: [--fix]

      - id: typescript
        name: Type check with TypeScript
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        entry: pnpm exec tsc
        args: [--noEmit]

      - id: vitest
        name: Run tests with Vitest
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false
        entry: pnpm run test

      - id: checkov
        name: Scan using Checkov
        language: system
        types: [file]
        entry: checkov
        args: [-f]

chore: Change initial version to 0.1.0
  package.json
  src/manifest.ts
Due: prettier, eslint, typescript, vitest

ci: Fix missing contents write permission for release
  .github/workflows/ci.yml
Due: none

ci(dependabot): Disable Docker autoupdate
  .github/dependabot.yml
Due: none

build(deps-dev): Bump deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps-dev): Add **prettier-plugin-tailwindcss**
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/pages/options/Config.svelte
  src/pages/options/Page.svelte
  src/pages/options/ResourceView.svelte
  src/pages/options/Tree.svelte
Due: prettier

chore: Disable Vitest strict port
  vite.config.ts
Due: prettier, eslint, typescript, vitest

chore: Change sync root directory title
  src/components/Bookmarks.svelte
Due: none

build: Bump version to 0.2.0
  package.json
  src/manifest.ts
Due: prettier, eslint, typescript, vitest

build(deps): Bump deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore: Update `tailwind.config.js`
  tailwind.config.js
Due: prettier, eslint, typescript, vitest

chore: Sync manifest version with `package.json`
  src/manifest.ts
Due: prettier, eslint, typescript, vitest

fix: Floating labels not shown
  package.json
  src/components/Config.svelte
Due: prettier

revert: Committed temporary port change
  vitest.config.ts
Due: prettier, eslint, typescript, vitest

test: Forgot to convert some tests
  src/manifest.test.ts
  src/manifest.ts
  src/service-worker.test.ts
  src/service-worker.ts
  vitest.config.ts
Due: prettier, eslint, typescript, vitest

chore: Relocate extension helper file
  e2e/options.test.ts
  e2e/popup.test.ts
  src/lib/chrome/extension.ts
  src/utils/chrome-extension.test.ts
Due: prettier, eslint, typescript, vitest

ci: Include zipped archive in release along with CRX
  .github/workflows/ci.yml
Due: none

feat: Embed page components in tabs
  src/pages/options/Page.svelte
Due: none

feat: UI styling
  src/components/Bookmarks.svelte
  src/components/Bookmarks.test.ts
  src/components/Config.svelte
  src/components/Config.test.ts
  src/components/TryIt.svelte
  src/components/TryIt.test.ts
  src/pages/options/Page.svelte
Due: prettier, eslint, typescript, vitest

fix: E2E test failing due to path changes
  src/lib/chrome/extension.ts
Due: prettier, eslint, typescript, vitest

ci: Mock for testing
  .github/workflows/ci.yml
Due: none

ci: Forgot to build app
  .github/workflows/ci.yml
Due: none

ci: Squash e2e step
  .github/workflows/ci.yml
Due: none

revert: "ci: Mock for testing"
  .github/workflows/ci.yml
Due: none

Include raw archive in releases (#25)
  .github/workflows/ci.yml
Due: none

feat: Bump version to v0.2.2
  package.json
Due: prettier

feat: Move extension info to about tab
  package.json
  src/components/About.svelte
  src/components/About.test.ts
  src/manifest.ts
  src/pages/options/Page.svelte
Due: prettier, eslint, typescript, vitest

ci: Autogenerate release notes
  .github/workflows/ci.yml
Due: none

Update UI (#26)
  package.json
  src/components/About.svelte
  src/components/About.test.ts
  src/components/Bookmarks.svelte
  src/components/Bookmarks.test.ts
  src/components/Config.svelte
  src/components/Config.test.ts
  src/components/TryIt.svelte
  src/components/TryIt.test.ts
  src/manifest.ts
  src/pages/options/Page.svelte
Due: prettier, eslint, typescript, vitest

build(deps): Add **@lasuillard/raindrop-client**
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier

chore(workspace): Update `docker-compose.yaml`
  docker-compose.yaml
Due: none

build(deps): Bump **@lasuillard/raindrop-client**
  package.json
  pnpm-lock.yaml
Due: prettier

chore: Update `.gitignore` file
  .gitignore
Due: none

build(workspace): Authentication required for GitHub registry
  Dockerfile
  docker-compose.yaml
Due: none

chore: Prefer `.yaml` suffix
  .github/dependabot.yaml
  .github/workflows/ci.yaml
Due: none

fix: CORS issue calling API
  src/manifest.ts
Due: prettier, eslint, typescript, vitest
