Repository lasuillard/raindrop-sync-chrome: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, vitest

prettier:
  name: Format with Prettier
  language: system
  entry: npx prettier
  args:
  - --write

eslint:
  name: Lint with ESLint
  language: system
  entry: npx eslint
  args:
  - --fix

typescript:
  name: Type check with TypeScript
  language: system
  pass_filenames: false
  entry: npx tsc
  args:
  - --noEmit

vitest:
  name: Run tests with Vitest
  language: system
  pass_filenames: false
  entry: npm run test

docs: Update `README.md`
  README.md
Due: none

test: Update test config
  e2e/setup.ts
  package.json
  vite.config.ts
  vitest.config.e2e.ts
Due: prettier, eslint, typescript, vitest

chore: Update `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Due: none

chore(workspace): Update workspace
  .devcontainer/onCreateCommand.sh
  .dockerignore
  .editorconfig
  .node-version
  .vscode/settings.json
  Dockerfile
  package-lock.json
  pnpm-lock.yaml
Due: prettier

chore(workspace): Better remove display
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.override.yaml
Due: prettier

ci: Update `ci.yml`
  .github/workflows/ci.yml
  Makefile
Due: none

ci: Update `ci.yml`
  .github/workflows/ci.yml
Due: none

chore: Update devcontainer
  .devcontainer/devcontainer.json
  .vscode/settings.json
  Dockerfile
  docker-compose.override.yaml
  docker-compose.yaml
Due: prettier

chore: Change `npm` commands to `pnpm`
  .pre-commit-config.yaml
  .vscode/launch.json
  Makefile
  package.json
Due: prettier

chore(workspace): Update `docker-compose.yaml`
  docker-compose.yaml
Due: none

ci: Cache puppeteer deps
  .github/workflows/ci.yml
Due: none

Update workspace & CI (#6)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.override.yaml
  .devcontainer/onCreateCommand.sh
  .dockerignore
  .editorconfig
  .github/workflows/ci.yml
  .node-version
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  Dockerfile
  Makefile
  docker-compose.override.yaml
  docker-compose.yaml
  e2e/setup.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.e2e.ts
Due: prettier, eslint, typescript, vitest

ci: Update step name
  .github/workflows/ci.yml
Due: none

build(deps-dev): Bump deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat: Update layout
  src/pages/options/Config.svelte
  src/pages/options/Page.svelte
  src/pages/popup/Page.svelte
Due: none

chore: Update `Makefile`
  Makefile
Due: none

feat: Create Chrome bookmarks
  src/lib/raindrop/collections.ts
  src/lib/raindrop/raindrops.ts
  src/pages/options/Bookmarks.svelte
  src/pages/options/Page.svelte
  src/pages/options/ResourceView.svelte
  tests/pages/options/Bookmarks.test.ts
Due: prettier, eslint, typescript, vitest

chore: Drop DB
  package.json
  pnpm-lock.yaml
  src/core/db.ts
  tests/core/db.test.ts
Due: prettier, eslint, typescript, vitest

perf: Set up Axios caching
  package.json
  pnpm-lock.yaml
  src/lib/raindrop/client.ts
Due: prettier, eslint, typescript, vitest

test: Move unit tests to source directory
  package.json
  src/components/Eye.test.ts
  src/core/stores.test.ts
  src/lib/raindrop/auth.test.ts
  src/lib/raindrop/client.test.ts
  src/lib/raindrop/collections.test.ts
  src/lib/raindrop/errors.test.ts
  src/lib/raindrop/filters.test.ts
  src/lib/raindrop/highlights.test.ts
  src/lib/raindrop/import.test.ts
  src/lib/raindrop/index.test.ts
  src/lib/raindrop/raindrops.test.ts
  src/lib/raindrop/tags.test.ts
  src/lib/raindrop/types.test.ts
  src/lib/raindrop/user.test.ts
  src/lib/store.test.ts
  src/lib/tree.test.ts
  src/lib/types.test.ts
  src/manifest.test.ts
  src/pages/options/Bookmarks.test.ts
  src/pages/options/Config.test.ts
  src/pages/options/Page.test.ts
  src/pages/options/Tree.test.ts
  src/pages/options/TryIt.test.ts
  src/pages/popup/Page.test.ts
  src/service-worker.test.ts
  src/utils/chrome-extension.test.ts
  vite.config.ts
Due: prettier, eslint, typescript, vitest

refactor: Refactor create bookmarks
  src/lib/chrome/bookmark.test.ts
  src/lib/chrome/bookmark.ts
  src/pages/options/Bookmarks.svelte
Due: prettier, eslint, typescript, vitest

feat: Implement system collection
  src/lib/raindrop/collections.test.ts
  src/lib/raindrop/collections.ts
  src/lib/tree.test.ts
  src/lib/tree.ts
  src/pages/options/Tree.svelte
Due: prettier, eslint, typescript, vitest

refactor: Extract inline function call
  src/pages/popup/Page.svelte
Due: none

chore: Remove resolved TODOs
  src/lib/raindrop/index.ts
Due: prettier, eslint, typescript, vitest

chore: Update e2e tests
  e2e/popup.test.ts
Due: prettier, eslint, typescript, vitest

style: Use absolute imports for tests
  src/lib/chrome/bookmark.test.ts
Due: prettier, eslint, typescript, vitest

feat: Rename Raindrop to Bookmark
  src/lib/chrome/bookmark.ts
  src/lib/raindrop/bookmarks.test.ts
  src/lib/raindrop/bookmarks.ts
  src/lib/raindrop/collections.ts
  src/lib/raindrop/index.ts
  src/lib/raindrop/types.ts
  src/pages/options/Tree.svelte
  src/pages/options/TryIt.svelte
Due: prettier, eslint, typescript, vitest

refactor: Move components separate directory
  src/components/Bookmarks.svelte
  src/components/Bookmarks.test.ts
  src/components/Config.svelte
  src/components/Config.test.ts
  src/components/Tree.svelte
  src/components/Tree.test.ts
  src/components/TryIt.svelte
  src/components/TryIt.test.ts
  src/pages/options/Page.svelte
Due: prettier, eslint, typescript, vitest

refactor: Use existing system collection enum for ID
  src/lib/raindrop/collections.ts
Due: prettier, eslint, typescript, vitest

chore: Reduce noisy describe
  src/components/Bookmarks.test.ts
  src/components/Config.test.ts
  src/components/Eye.test.ts
  src/components/TryIt.test.ts
  src/lib/raindrop/auth.test.ts
  src/lib/raindrop/bookmarks.test.ts
  src/lib/raindrop/client.test.ts
  src/lib/raindrop/collections.test.ts
  src/lib/raindrop/errors.test.ts
  src/lib/raindrop/filters.test.ts
  src/lib/raindrop/highlights.test.ts
  src/lib/raindrop/import.test.ts
  src/lib/raindrop/index.test.ts
  src/lib/raindrop/tags.test.ts
  src/lib/raindrop/types.test.ts
  src/lib/raindrop/user.test.ts
  src/lib/store.test.ts
  src/lib/tree.test.ts
  src/lib/types.test.ts
  src/manifest.test.ts
  src/pages/options/Page.test.ts
  src/pages/popup/Page.test.ts
  src/service-worker.test.ts
  src/utils/chrome-extension.test.ts
Due: prettier, eslint, typescript, vitest

test: Update test config
  package.json
  vite.config.ts
  vitest.config.e2e.ts
  vitest.config.ts
Due: prettier, eslint, typescript, vitest

ci: Pack extension
  .github/workflows/ci.yml
Due: none

ci: Rename built extension file
  .github/workflows/ci.yml
Due: none

ci: Pack extension via script
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/pack-crx.cjs
Due: prettier, eslint, typescript, vitest

ci: Fix wrong script path
  .github/workflows/ci.yml
Due: none

ci: Pass signing key as env
  .github/workflows/ci.yml
Due: none

ci: Add release job
  .github/workflows/ci.yml
Due: none

Update CI for extension release (#9)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/pack-crx.cjs
Due: prettier, eslint, typescript, vitest

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, but not: (?x)(
  \.snap$
)

  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (?x)(
  \.snap$
)

  typescript: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (?x)(
  \.snap$
)

  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (?x)(
  \.snap$
)

